<div class="row">
    <aside class="col-sm-3" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">

    </aside>
    <div class="container col-sm-9">
        <div style="height: 305px">
            <div uib-carousel active="active" interval="3000" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in vm.articles track by $index" index="$index">
                    <img ng-src="{{slide.urlsToLogos.large}}" class="image-responsive" width="300px;" height="300px;" />
                    <div class="carousel-caption">
                        <!--<h4>{{slide.name}}</h4>
                        <p>{{slide.description}}</p>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="library-container">
            <div class="flip-container col-xs-4" ng-repeat=" article in vm.articles track by $index" id="{{$index}}" draggable="true" ondragstart="drag(event, article)">
                <div class="flipper" onclick="this.classList.toggle('flipped')">
                    <div class="front">
                        <img ng-src="{{article.urlsToLogos.medium}}" class="poster">
                    </div>
                    <div class="back">
                        <div>{{article.name}}</div>
                        <div>{{article.description}}</div>
                        <button class="btn btn-default" </div>
                </div>
            </div>
        </div>


    </div>
</div>